html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	
}
h2{
	text-align: center;
	color: white;
}

body {
	background-color: #FAF1DE;
}

#container {
	width: 100%;
	webkit-perspective: 750;
}

#shape {
	position: relative;
	top: 120px;
	margin: 0 auto;
	width: 250px; height: 250px;

	-webkit-animation: spin 15s infinite linear;
	-webkit-transform-style: preserve-3d;
}

h1 {
	color: #FFFFFF;
	font-family: sans-serif;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: -2px;
	padding-top: 50px;
	text-align: center;

	text-shadow: 0px 2px 3px rgba(255,255,255,0.3);
}

#shape > div {
	border: 1px solid #333;
	position: absolute;
	width: 250px; height: 250px;

	-webkit-border-radius: 4px;
	-webkit-transition: -webkit-transform 2s;
}

#shape > div img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	
}
.one{background-color: #00A3AA;}
.two{background-color: #004eaa;}
.three{background-color: #00aa5c;}
.four{background-color: #E88876;}
.five{background-color: #e8c176;}
.six{background-color: #8A2BE2;}


/* This is where the 3D magic happens */
@-webkit-keyframes spin {
	from { -webkit-transform: rotateY(0) rotateX(0); }
	to   { -webkit-transform: rotateY(-360deg) rotateX(360deg); }
}

/* 3D positioning for each of the images/links */
.one { -webkit-transform: rotateX(90deg) translateZ(125px); }
.two { -webkit-transform: translateZ(125px); }
.three { -webkit-transform: rotateY(90deg) translateZ(125px); }
.four { -webkit-transform: rotateY(180deg) translateZ(125px); }
.five { -webkit-transform: rotateY(-90deg) translateZ(125px); }
.six { -webkit-transform: rotateX(-90deg) translateZ(125px); }
